.icons a {
    margin-left: 20px;
    font-size: 20px;
    color: blue;
}

.tweet-area {
    margin-bottom: 10px;
}

.eject-tweets {
    background-color: #ffcccb;
    color: #ff0000;
    font-weight: bold;
    flex-wrap: wrap;
}