.profile-main-box {
  display: flex;
  align-items: center;
  background-color: rgb(43, 39, 39);
  position: fixed;
  top: 0;
  width: 748px;
  z-index: 999;
}
.name-text {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.post-text {
  color: rgb(121, 113, 113);
}
.arrow-icon {
  padding-left: 15px;
}
.name-post-text {
  padding-left: 25px;
}
.avatar-box {
  background-color: rgb(161, 168, 166);
  height: 200px;
}
.avatar-position {
  position: absolute;
  top: 21%;
  left: 25%;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.avatar-second-box {
  background-color: black;
  /* height: 300px; */
}
.main-profile-button {
  text-align: end;
}
.profile-button {
  border: 1px solid white !important;
  color: white !important;
  font-weight: 600 !important;
  border-radius: 20px !important;
  margin-top: 15px !important;
  margin-right: 15px !important;
  text-transform: capitalize !important;
}
.profile-rahul-text {
  color: white;
  font-weight: 700;
  font-size: 23px;
  padding-top: 10px;
  padding-left: 25px;
}
.profile-username-text {
  color: rgb(121, 113, 113);
  padding-left: 25px;
}
.date-joined-flex {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.date-joined-calender {
  color: white;
  padding-left: 25px;
}
.date-joined-text {
  color: rgb(121, 113, 113);
  padding-left: 8px;
}
.following-flex {
  display: flex;
  color: white;
  margin-top: 10px;
}
.following {
  padding-left: 25px;
  color: rgb(121, 113, 113);
}
.followers {
  padding-left: 10px;
  color: rgb(121, 113, 113);
}
.one {
  padding-right: 3px;
  color: white;
}
.profile-header {
  color: rgb(121, 113, 113);
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-bottom: 1px solid rgb(121, 113, 113);
}
.profile-header-li {
  padding-bottom: 15px;
}
.profile-header-li:hover {
  font-weight: 500;
  color: white;
  border-bottom: 3px solid royalblue;
}
.post-box {
  background-color: black;
  color: white;
}
.highlight {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.subscribed {
  color: rgb(121, 113, 113);
  text-align: center;
  padding-left: 53px;
  padding-top: 15px;
}
.subscribe-btn {
  padding-left: 225px;
  padding-top: 20px;
}
.profile {
  font-size: 35px;
  font-weight: 700;
  padding-left: 229px;
}
.post-profile {
  color: rgb(121, 113, 113);
  padding-left: 232px;
}
.sub-to-premium {
  color: black !important;
  border: 1px solid white !important;
  background-color: white !important;
  border-radius: 25px !important;
  font-weight: 700 !important;
  text-transform: capitalize !important;
  padding: 10px 20px !important;
}
.post-height{
  height: 550px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}