.main {
  margin-top: 35px;

  .leftmainbar {
    margin: 0 0 20px 0;

    .box {
      display: flex;
      align-items: center;
      padding: 13px;
    }

    .postbutton {
      width: 100%;
      padding: 14px;
      border: 0;
      background-color: #1d9df0;
      border-radius: 10px;
      font-size: medium;
      font-weight: 600;
    }

    span {
      margin: 0 0 0 20px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.leftmainbar :hover.box {
  background: rgb(170, 167, 167);
  transition: 0.8s;
  border-radius: 5px;
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: space-between;
}

.postmain {
  .postsecond {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 20px;
    font-weight: 500;
  }
}

.main-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.follow-btn {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
}
.dhoni-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.footer-text {
  font-size: 13px;
  margin: 4px;
}
.searchbar {
  display: grid;
  grid-template-columns: 1fr 70px;
  padding: 20px;
  align-items: center;
}
.setting-icon {
  display: flex;
  justify-content: end;
  font-size: 30px;
}
.explore-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.border-line ul li {
  padding: 20px;
  position: relative;
}
.border-line ul li:hover {
  background-color: rgb(230, 214, 191);
}
.border-line ul li::before {
  content: "";
  bottom: 0;
  left: 0;
  top: 100;
  position: absolute;
  background-color: rgb(65, 47, 47);
  height: 5%;
  display: none;
}
.border-line ul li:hover::before {
  display: block;
}
.foryou-mapdata {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nametwo-text {
  font-weight: bold;
}
.different-name {
  color: blue;
}
.foryou-mapdata:hover {
  background-color: rgb(167, 177, 177);
}
.leftsidebar-fix {
  position: fixed;
  top: 0;
}
.rightsidebar-fix {
  position: fixed;
  top: 0;
  right: 0;
}
.searchbar-color {
  background-color: lightblue;
}
.searchbar-fix {
  background-color: whitesmoke;
  border: 1px solid black;
}
.explore-setting {
  display: flex;
  align-items: center;
}
.cancel-icon {
  padding-left: 10px;
}
.text-explore {
  padding: 20px;
}
.text-location {
  padding-left: 15px;
}
.border-line {
  border: 1px solid black;
}
.foryou-borderbox {
  border: 1px solid black;
}
.setting-icon {
  cursor: pointer;
}
.checkbox-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightarrow-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
.rightarrow-flex:hover {
  background-color: teal;
  cursor: pointer;
}
.maincheckbox {
  padding-top: 20px;
}
.more {
  color: black !important;
  text-transform: capitalize !important;
  font-size: 19px !important;
}
.premium {
  padding-left: 10px;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}
.modalopen-sidebar{
  display: flex;
  align-items: center;
}